<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"
  class="needs-validation" novalidate style="margin-top: 15px;">

  <h5>Event Date/Venue</h5>

  <div class="form-group">
    <label for="date">Date</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
        name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
          type="button"></button>
      </div>
    </div>
    <div *ngIf="profileForm.get('date').invalid &&
      (profileForm.get('date').dirty || profileForm.get('date').touched)"
      class="alert alert-danger">
      Please choose a Date.
    </div>
  </div>

  <div class="form-group">
    <label for="venue">Venue</label>
    <input formControlName="venue" type="text" class="form-control"
      id="venue" aria-describedby="venueHelp"
      required>
    <!-- <small id="venueHelp" class="form-text text-muted">Please enter the
      venue.</small> -->
    <div *ngIf="profileForm.get('venue').invalid &&
      (profileForm.get('venue').dirty || profileForm.get('venue').touched)"
      class="alert alert-danger">
      Please choose a Venue.
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="lastName">Last name</label>
    <input formControlName="lastName" type="text" class="form-control"
      id="lastName" aria-describedby="lastNamelHelp" placeholder="lastName">
    <small id="lastNameHelp" class="form-text text-muted">Please enter your last
      name.</small>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>

    <div class="form-group">
      <label for="street">Street</label>
      <input formControlName="street" type="text" class="form-control"
        id="street" aria-describedby="streetlHelp" placeholder="street">
      <small id="streetHelp" class="form-text text-muted">Please enter your
        street.</small>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input formControlName="city" type="text" class="form-control"
        id="city" aria-describedby="cityHelp" placeholder="city">
      <small id="cityHelp" class="form-text text-muted">Please enter your
        city.</small>
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input formControlName="state" type="text" class="form-control"
        id="state" aria-describedby="stateHelp" placeholder="state">
      <small id="stateHelp" class="form-text text-muted">Please enter your
        state.</small>
    </div>

    <div class="form-group">
      <label for="zip">zip</label>
      <input formControlName="zip" type="text" class="form-control"
        id="zip" aria-describedby="zipHelp" placeholder="zip">
      <small id="zipHelp" class="form-text text-muted">Please enter your
        zip.</small>
    </div>
  </div> -->
  <div formArrayName="artists" class="clearfix">
    <h5>Artists</h5>

    <!-- <div *ngFor="let artist of artists.controls; let i=index">
      <div [formGroupName]="i">
        <label>
          Artist:
          <input type="text" [formControlName]="name">
        </label>
      </div>
    </div> -->
    <!-- <div *ngFor="let artist of artists.controls; let i=index">
      <p>
        Value: {{ artist.value | json }}
      </p>
    </div> -->
    <div *ngFor="let artist of artists.controls; let i=index">
      <div class="form-group" [formGroupName]="i">
        <label for="artistName">Name</label>
        <input formControlName="name" type="text" class="form-control"
          id="artistName" aria-describedby="artistNameHelp"
          required>
        <!-- placeholder="artistName" -->
        <!-- <small id="artistNameHelp" class="form-text text-muted">Please enter the
          artistName.</small> -->
        <div *ngIf="artist.get('name').invalid &&
          (artist.get('name').dirty || artist.get('name').touched)"
          class="alert alert-danger">
          Please choose an Artist Name.
        </div>
      </div>
    </div>

    <button class="btn btn-outline-dark float-right" type="button"
      (click)="addArtist()">Add
      Artist</button>
  </div>

  <!-- 
    <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> 
-->
  <div>

    <hr />

    <!-- <button type="submit" class="btn btn-primary float-right"
      [disabled]="!profileForm.valid">Submit</button> -->
  </div>

  <!-- <p>
    Form Status: {{ profileForm.status }}
  </p> -->

  <!-- <div *ngIf="profileForm.invalid &&
    (profileForm.dirty || profileForm.touched)"
    class="alert alert-danger">
    Please enter the required values.
  </div> -->
  <div *ngIf="!profileForm.invalid" class="alert alert-success">
    The event details are valid!
  </div>

  <textarea *ngIf="!profileForm.invalid" style="width: 100%;" rows="15">{{
    profileForm.value | json }}</textarea>
</form>

<!-- <p>
  Value: {{ profileFormJson }}
</p> -->
<!-- 
  <p>
  Form Status: {{ profileForm.status }}
</p>

<pre>
  {{ profileForm.value | json }}
</pre> -->
