<div class="alert alert-danger" role="alert">
  <h6>Are you sure you want to delete this show?</h6>

  <div *ngIf="show">
    <div>
      Event Date: {{show.date}}
    </div>

    <div>
      Venue: {{show.venue}}
    </div>

    <br />

    <div>
      Artists
    </div>

    <p *ngFor="let artist of show.artists">
      {{artist.name}}
    </p>
  </div>
</div>

<div class="float-right">
  <button type="button" class="btn btn-outline-danger btn-sm"
    style="margin: 5px;"
    (click)="deleteShow()">
    OK
  </button>

  <button type="button" class="btn btn-outline-secondary btn-sm"
    style="margin: 5px;"
    (click)="cancelDeleteShow()">
    Cancel
  </button>
</div>
